.pictureZoom {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: cover;
        opacity: 1;
    }

    &:hover {
        background-size: 140%;

        .pictureZoom__img {
            opacity: 0;
        }
    }
}
