.buttonRounded {
    --c: #d97319;

    span {
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: var(--c);
        transform: translateY(150%);
        border-radius: 50%;
        left: calc((var(--n) - 1) * 20%);
        transition: 0.5s;
        transition-delay: calc((var(--n) - 1) * 0.1s);
        z-index: -1;
    }

    &:hover {
        span {
            transform: translateY(0) scale(3.2);
        }
    }

    span:nth-child(1) {
        --n: 1;
    }

    span:nth-child(2) {
        --n: 2;
    }

    span:nth-child(3) {
        --n: 3;
    }

    span:nth-child(4) {
        --n: 4;
    }
    span:nth-child(5) {
        --n: 5;
    }
}
