@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700;900&display=swap");

html {
    overflow-x: hidden;
    box-sizing: border-box;
}
body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    color: #222222;
    overflow-x: hidden;
}

.text-title-lime {
    color: #88c74a;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    line-height: 20px;
    @media screen and (max-width: 599px) {
        font-size: 0.85rem;
    }
}

.text-des-48 {
    color: #252525;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 900;
    line-height: 48px;
    @media screen and (max-width: 599px) {
        font-size: 1.5rem;
    }
}

.text-gray-normal {
    color: #999489;
    font-size: 1.25rem;
    @media screen and (max-width: 599px) {
        font-size: 0.85rem;
    }
}
.text-title-b-44 {
    color: #252525;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
    @media screen and (max-width: 599px) {
        font-size: 1.5rem;
    }
}
